body {
    font-family: "Times New Roman",Georgia,Serif;
    text-align: center;
    background-color: #ccc;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 10%;
    padding: 10%;
}
table {
    border-collapse: collapse
}
table, th, td {
    border: 1px solid black
}
#firstRow {
    color: #ffc;
    background-color: #009;
}
#content {
    width: 60%;
    margin: 0 auto 0 auto;
    text-align: left;
}
#riba {
    float: right;
    padding-right: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 0.8em;
    overflow: hidden;
}