
body {
    font-family: "Times New Roman",Georgia,Serif;
    text-align: center;
    background-color: #E5E4D7;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 10%;
    padding: 1em;
}
h1{
    align-self: center;
}
#avalehele {
    margin-top: 4%;
    margin-bottom: 1%;
	padding: 1% 2% 1% 2%;
	border-radius: 10px;
	font: bold 100%/120% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    padding: 3em;
}
table, td {
    border: 1px solid black;
}
#firstRow {
    color: #ffc;
    background-color: #009;
}
#allFields {
    text-align: center;
}
a {
	text-decoration: none;
    color:black;
}
a:hover{
    color:gray;
}
a:active{
    color:lightgray;
}

#kast1 {
	background-color: #81A594;
	padding: 4%;
	border-radius: 15px;
}

#kast2 {
	background-color: #FFF;
	padding: 8%;
	margin: 1% 1%;
	border-radius: 15px;
}