@charset "utf-8";
/* CSS Document */

.popup{
	padding: 0% 1% 1% 1%; 
	display: none; 
	background: #81A594; 
	border: 1px solid;
	z-index: 10;
	position: absolute; 
	right: 10%;
	top: 3%;
	border-radius: 10px;
}

.sulge_popup{
	float: right;
}

.popup_kiri{
	padding : 5px;
	font-weight: bold; 
	color: #000;
	font-family: Arial;
	background-color: #FFF;
	border-radius: 5px;
}
#popup_submit{
	margin-bottom: 5%;
}