@charset "utf-8";
/* CSS Document */

.popup{
	padding: 0% 1%; 
	display: none; 
	background: #81A594; 
	border: 1px solid;
	z-index: 10;
	position: absolute; 
	right: 15.8%;
	top: 0.9%;
	border-radius: 10px;
}

.sulge_popup{
	position: absolute; 
	bottom: 12%; 
	right: 5%; 
	
}

.popup_kiri{
	padding : 5px;
	font-weight: bold; 
	color: #000;
	font-family: Arial;
	background-color: #FFF;
	border-radius: 5px;
}
