@(articleData: List[String], commentData: java.util.ArrayList[java.util.ArrayList[String]], user: Users)

<!DOCTYPE html>
<html manifest="@routes.Assets.at("manifests/cache.mf")">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="MS UUDISED">
		<title>@articleData(1)</title>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")"/>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/popup.css")"/>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/login-popup.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/facebook.js")"></script>
		<script type="text/javascript" src="@routes.ApplicationController.timeJs()"></script>
	</head>
	
	<body>
		<div id="time"></div>
		<a href="/"><img id="logo" src="@routes.Assets.at("images/logo.png")" alt="MS uudised"/></a>
		@if(session().get("email")) {
			<a class="logoutButton" id="logivalja" href="/logout/@{request.uri}">Logi välja</a>
			<p class="usernameButton" id="kasutajatunnus">@user.first_name @user.last_name</p>
			<a class="newsletterButton" id="newslettereditor" href="/newsletter">Halda uudiskirju</a>
			<a class="newarticleButton" id="uusUudis" href="/newArticle">Uus uudis</a>
		} else{
			<a id="logisisse" href="/login/@{request.uri}" class="popup_button">Logi sisse </a>
			<a id="register" href="/register">Registreeri </a>
			<a id="newsletter" href="/newsletter">Telli uudiskiri </a>
		}
		<div id="content">
			<table id="teemad">
				<tr>
					<td id="teema1"><a href="/">Teema1</a></td>
					<td id="teema2"><a href="/">Teema2</a></td>
					<td id="teema3"><a href="/">Teema3</a></td>
					<td id="teema4"><a href="/">Teema4</a></td>
					<td id="teema5"><a href="/">Teema5</a></td>
				</tr>
			</table>
			
			<table id= "sorteerimine">
				<tr>
					<td id="uued"><a href="/new">uued</a></td>
					<td id="enimloetud"><a href="/most-viewed">enim loetud</a></td>
					<td id="enimkommenteeritud"><a href="/most-commentated">enim kommenteeritud</a></td>
				</tr>
			</table>
			
			<div class="popup">
				@helper.form(routes.ApplicationController.authenticate(request.uri)) {
					<p><input type="email" name="email" placeholder="Email"></p>
					<p><input type="password" name="password" placeholder="Parool"></p>
					<p><button type="submit">Login</button> </p>
				}
				<button data-href="#" class="sulge_popup">Close</button>
				<div id="fb-root"></div>
				<div class="fb-login-button" data-size="medium" data-onlogin="facebookLogin('@request.uri')"></div>
			</div>
			
			<div id="wrap">
				<div id="article1">
					<img id="articleImage" src="/getImage/@articleData(0)" alt="pilt" class="articleImg" />
					@if(session().get("email")) {
						<br>
						<form method="post" action="/uploadImage/@articleData(0)" enctype="multipart/form-data">
							<input type="file" name="image">
							<input type="submit" value="Lae pilt üles">
						</form>
						<br>
						<form method="post"  action="/saveArticle/@articleData(0)">
							<b>Pealkiri</b>
							<textarea id="title" name = "title">@articleData(1)</textarea>
							<b>Sissejuhatus</b>
							<textarea id="intro" name = "intro">@articleData(2)</textarea>
							<b>Teemaarendus</b>
							<textarea id="body" name = "body">@articleData(3)</textarea>
							<b>Kokkuvõte</b>
							<textarea id="summary" name = "summary">@articleData(4)</textarea>
							<input id="save" type="submit" value="Salvesta muudatused">
						</form>
					} else {
						<h2 id="pealkiri">@articleData(1)</h2>
						<section id="sissejuhatus">
							@articleData(2)
						</section>
						<br>
						<section id="teemaarendus">
							@articleData(3)
						</section>
						<br>
						<section id="kokkuvote">
							@articleData(4)
						</section>
					}
				</div>
				<br>
				<form id="kommentaarid" action="/saveComment/@articleData(0)" method="POST">
					<textarea id="kommentaarikast" name="kommentaarikast">Kommentaar</textarea>
					<input id="nimiKommentaar" type="text" name="nimi"
					onfocus="if(this.value == 'Nimi') { this.value = ''; }" value="Nimi" />
					<input id="emailKommentaar" type="text" name="e-mail"
					onfocus="if(this.value == 'e-mail') { this.value = ''; }"
					value="e-mail" /> <input id="saada" type="submit"
					value="Kommenteeri" />
				</form>
				@if(session().get("email")) {
					<input id="loeVeelKommentaare" type="button" value="Redigeeri kommentaare">
				} else {
					<input id="loeVeelKommentaare" type="button" value="Loe teisi kommentaare">
				}
				<div id="commentsBody" class="commentsBody">
				@for(i <- 0 until commentData.size()){
					<div class="comment">
						<div class="riba">
							<div class="nimi"> @commentData(i)(1) </div>
							<div class="email"> @commentData(i)(2) </div>
							<div class="kuupaev"> @commentData(i)(4) </div>
							@if(session().get("email")) {
								<form action="/deleteComment/@commentData(i)(0)" method="GET">
								<input class="kustutaKommentaar" type="submit" value="Kustuta kommentaar" >
								</form>	
								<p>Meeldimiste arv: @commentData(i)(3)</p><br>
							} else {
								<form action="/inappropriateComment/@commentData(i)(0)" method="GET">
									<input class="ebasobivKommentaar" type="submit" value="Teata ebasobivast kommentaarist" >
								</form>
								<form action="/addLike/@commentData(i)(0)" method="GET">	
									<input class="like" type="submit" value="Like"> <p> @commentData(i)(3) </p><br>
								</form>
							}
							<div class="sisu"> @commentData(i)(5) </div>
						</div>
					</div>
				}
				</div>
				<script type="text/javascript" src="@routes.Assets.at("javascripts/comments.js")"></script>
			</div>
		</div>
	</body>
</html>