@(uudiseandmed: List[String], kommentaariAndmed: java.util.ArrayList[java.util.ArrayList[String]], image: String)

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="MS UUDISED">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/articleeditor.css")"/>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/comments.js")"></script>
		<title>Uudistetoimetaja</title>
	</head>
	
	<body>
		<div id="riba">
			<a id="logivalja" href="/article/@uudiseandmed(0)">Logi välja</a>
			<p id="kasutajatunnus">Nimi Siia</p><br>
			<a id="newslettereditor" href="/newslettereditor">Halda uudiskirju</a>
			<a id="uusUudis" href="/newArticle">Uus uudis</a>
		</div>
		<div id="content">
			<table id="teemad">
				<tr>
					<td id="teema1"><a href="/maineditor/main_new">Teema1</a></td>
					<td id="teema2"><a href="/maineditor/main_new">Teema2</a></td>
					<td id="teema3"><a href="/maineditor/main_new">Teema3</a></td>
					<td id="teema4"><a href="/maineditor/main_new">Teema4</a></td>
					<td id="teema5"><a href="/maineditor/main_new">Teema5</a></td>
				</tr>
			</table>
			
			<article>
				<img id="ajaleht1" src="@routes.Assets.at(image)" alt="pilt">
				<br>
				<form method="post" action="/upload/@uudiseandmed(0)" enctype="multipart/form-data">
					<input type="file" name="picture">
					<input type="submit" value="Lae pilt üles">
				</form>
				<br>
				<form method="post"  action="/saveArticle/@uudiseandmed(0)">
					<b>Pealkiri</b>
					<textarea id="title" name = "title">@uudiseandmed(1)</textarea>
					<b>Sissejuhatus</b>
					<textarea id="intro" name = "intro">@uudiseandmed(2)</textarea>
					<b>Teemaarendus</b>
					<textarea id="body" name = "body">@uudiseandmed(3)</textarea>
					<b>Kokkuvõte</b>
					<textarea id="summary" name = "summary">@uudiseandmed(4)</textarea>
					<input id="save" type="submit" value="Salvesta muudatused">
				</form>
			</article>
			
			<br>
			<input id="loeVeelKommentaare" type="button"
				value="Redigeeri kommentaare">
			<div id="commentsBody" class="commentsBody">
			@for(i <- 0 until kommentaariAndmed.size()) {
				<div class="comment">
					<div class="muuu">
						<div class="nimi"> @kommentaariAndmed(i)(1) </div>
						<div class="email"> @kommentaariAndmed(i)(2) </div>
						<div class="kuupaev"> @kommentaariAndmed(i)(4) </div>
						<form action="/deleteComment/@kommentaariAndmed(i)(0)" method="GET">
							<input class="kustutaKommentaar" type="submit" value="Kustuta kommentaar" >
						</form>	
						<p>Like @kommentaariAndmed(i)(3)</p><br>
					</div>
					<div class="sisu"> @kommentaariAndmed(i)(5) </div>
				</div>
			}
			</div>
		</div>
	</body>
</html>