<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="MMK UUDISED">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")"/>
		<title>Login</title>    
	</head>
	<body>
		<a id="avalehele" href="/main/avaleht_uued">Avalehele</a>
		<h1>Login</h1>
		<form action="/maineditor/avaleht_uued">
			Kasutajatunnus: <input name="username" type="text" size="20"><br>
			Parool: <input name="password" type="password" size="20"><br>
			<input type="submit" value="Sisene">
		</form> 
	</body>
</html>