@(articleData: List[String])

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="MS UUDISED">
		<title>Avaleht</title>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")"/> 
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/popup.css")"/>
		<script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
		<script src="/assets/javascripts/login-popup.js" type="text/javascript" /></script>
	</head>
	
	<body>
		<a id="logisisse" href="#" class="popup_button">Logi sisse </a>
		<a id="register" href="/register">Registreeri </a>
		<a id="newsletter" href="/newsletter">Telli uudiskiri </a>
		<div id="content">
			<table id="teemad">
				<tr>
					<td><a href="/main/main_new">Teema1</a></td>
					<td><a href="/main/main_new">Teema2</a></td>
					<td><a href="/main/main_new">Teema3</a></td> 
					<td><a href="/main/main_new">Teema4</a></td>
					<td><a href="/main/main_new">Teema5</a></td>
				</tr>
			</table>
			
			<table id= "sorteerimine">
				<tr>
					<td id="uued"><a href="/main/main_new">uued</a></td>
					<td id="enimloetud"><a href="/main/main_most_viewed">enim loetud</a></td>
					<td id="enimkommenteeritud"><a href="/main/main_most_commentated">enim kommenteeritud</a></td>
				</tr>
			</table>
			
		<!--Login popup-->
        <div class="popup">
        	<button href="#" class="sulge_popup">Close</button>
			@helper.form(routes.ApplicationController.authenticate) {
				<p><input type="email" name="email" placeholder="Email"></p>
				<p><input type="password" name="password" placeholder="Parool"></p>
				<p><button type="submit">Login</button> </p>
			}
        </div>
		<!--popup-->
		
			
			<div id="wrap">
				<div id="left_col">
					@for(i <- 0 to articleData.size/3-1 by 2) {
						<article>
							<a href=/article/@articleData(i*3)><img id="articleImage" src="/getImage/@articleData(i*3)" alt="pilt"></a>
							<br>
							<h1><a href=/article/@articleData(i*3)>@articleData(i*3+1)</a></h1>
							<p>@articleData(i*3+2)</p>
						</article>
					}
				</div>
				<div id="right_col">
					@for(i <- 1 to articleData.size/3-1 by 2) {
						<article>
							<a href=/article/@articleData(i*3)><img id="articleImage" src="/getImage/@articleData(i*3)"  alt="pilt"></a>
							<br>
							<h1><a href=/article/@articleData(i*3)>@articleData(i*3+1)</a></h1>
							<p>@articleData(i*3+2)</p>
						</article>
					}
				</div>
			</div>
		</div>
	</body>
</html>