@(articleData: List[String],user: Users)

<!DOCTYPE html>
<html manifest="@routes.Assets.at("manifests/cache.mf")">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="MS UUDISED"> 
		<title>Avaleht toimetaja</title>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
   </head>
   
   <body>
		<div id="riba">
			<a id="logivalja" class="button2" href="/editor/logout/@{request.uri}">Logi välja</a>
			<p id="kasutajatunnus" class="button1">@user.first_name @user.last_name</p>
			<a id="newslettereditor" href="/editor/newsletter" class="button4">Halda uudiskirju </a>
			<a id="uusUudis" href="/editor/newArticle" class="button3">Uus uudis</a>
		</div>
		<div id="content">
			<table id="teemad">
				<tr>
					<td><a href="/editor/">Teema1</a></td>
					<td><a href="/editor/">Teema2</a></td>
					<td><a href="/editor/">Teema3</a></td> 
					<td><a href="/editor/">Teema4</a></td>
					<td><a href="/editor/">Teema5</a></td>
				</tr>
			</table>
			<table id= "sorteerimine">
				<tr>
					<td id="uued"><a href="/editor/new">uued</a></td>
					<td id="enimloetud"><a href="/editor/most-viewed">enim loetud</a></td>
					<td id="enimkommenteeritud"><a href="/editor/most-commentated">enim kommenteeritud</a></td>
				</tr>
			</table>
			<div id="wrap">
				<div id="left_col">
					@for(i <- 0 to articleData.size/3-1 by 2) {
						<article>
							<a href=/article/@articleData(i*3)>
								<img class="articleImage" src="/getImage/@articleData(i*3)" alt="pilt">
							</a>
							<br>
							<div id="editor">
							<a href="/editor/article/@articleData(i*3)">Muuda uudist</a>
							<a href="/editor/deleteArticle/@articleData(i*3)">Kustuta uudis</a>
							</div>
							<h1><a href="/article/@articleData(i*3)">@articleData(i*3+1)</a></h1>
							<p>@articleData(i*3+2)</p>
						</article>
					}
				</div>
				<div id="right_col">
					@for(i <- 1 to articleData.size/3-1 by 2) {
						<article>
							<a href=/article/@articleData(i*3)>
								<img class="articleImage" src="/getImage/@articleData(i*3)" alt="pilt">
							</a>	
							<br>
							<div id="editor">
							<a href="/editor/article/@articleData(i*3)">Muuda uudist</a>
							<a href="/editor/deleteArticle/@articleData(i*3)">Kustuta uudis</a>
							</div>
							<h1><a href="/article/@articleData(i*3)">@articleData(i*3+1)</a></h1>
							<p>@articleData(i*3+2)</p>
						</article>
					}
				</div>
				<script type="text/javascript" src="@routes.Assets.at("javascripts/ajax.js")"></script>
			</div>
		</div>
	</body>
</html>