@(uudis: List[String])

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="MS UUDISED">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/> 
		<title>Avaleht</title>
	</head>
	
	<body>
		<a id="logisisse" href="/login">Logi sisse </a>
		<a id="newsletter" href="/newsletter">Telli uudiskiri </a>
		<div id="content">
			<table id="teemad">
				<tr>
					<td><a href="/main/avaleht_uued">Teema1</a></td>
					<td><a href="/main/avaleht_uued">Teema2</a></td>
					<td><a href="/main/avaleht_uued">Teema3</a></td> 
					<td><a href="/main/avaleht_uued">Teema4</a></td>
					<td><a href="/main/avaleht_uued">Teema5</a></td>
				</tr>
			</table>
			
			<table id= "sorteerimine">
				<tr>
					<td id="uued"><a href="/main/avaleht_uued">uued</a></td>
					<td id="enimloetud"><a href="/main/avaleht_enimloetud">enim loetud</a></td>
					<td id="enimkommenteeritud"><a href="/main/avaleht_enimkommenteeritud">enim kommenteeritud</a></td>
				</tr>
			</table>
			
			<div id="wrap">
				<div id="left_col">
					@for(i <- 0 to uudis.size/3-1 by 2) {
						<article>
							<img id="ajaleht1" src="@routes.Assets.at("images/ajaleht.jpg")" alt="pilt">
							<h1><a href=/article/@uudis(i*3)>@uudis(i*3+1)</a></h1>
							<p>@uudis(i*3+2)</p>
						</article>
					}
				</div>
				<div id="right_col">
					@for(i <- 1 to uudis.size/3-1 by 2) {
						<article>
							<img id="ajaleht1" src="@routes.Assets.at("images/ajaleht.jpg")" alt="pilt">
							<h1><a href=/article/@uudis(i*3)>@uudis(i*3+1)</a></h1>
							<p>@uudis(i*3+2)</p>
						</article>
					}
				</div>
			</div>
		</div>
	</body>
</html>