@(articleData: List[String])

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="MS UUDISED"> 
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/maineditor.css")"/> 
		<title>Avaleht toimetaja</title>
   </head>
   
   <body>
		<div id="riba">
			<a id="logivalja" href="/main/main_new">Logi välja</a>
			<p id="kasutajatunnus">Nimi Siia</p><br>
			<a id="newslettereditor" href="/newslettereditor">Halda uudiskirju </a>
			<a id="uusUudis" href="/newArticle">Uus uudis</a>
		</div>
		<div id="content">
			<table id="teemad">
				<tr>
					<td><a href="/maineditor/main_new">Teema1</a></td>
					<td><a href="/maineditor/main_new">Teema2</a></td>
					<td><a href="/maineditor/main_new">Teema3</a></td> 
					<td><a href="/maineditor/main_new">Teema4</a></td>
					<td><a href="/maineditor/main_new">Teema5</a></td>
				</tr>
			</table>
			<table id= "sorteerimine">
				<tr>
					<td id="uued"><a href="/maineditor/main_new">uued</a></td>
					<td id="enimloetud"><a href="/maineditor/main_most_viewed">enim loetud</a></td>
					<td id="enimkommenteeritud"><a href="/maineditor/main_most_commentated">enim kommenteeritud</a></td>
				</tr>
			</table>
			
			<div id="wrap">
				<div id="left_col">
					@for(i <- 0 to articleData.size/3-1 by 2) {
						<article>
							<img id="ajaleht1" src="/getImage/@articleData(i*3)" alt="pilt"><br>
							<a href="/articleeditor/@articleData(i*3)">Muuda uudist</a>
							<a href="/deleteArticle/@articleData(i*3)">Kustuta uudis</a>
							<h1><a href="/articleeditor/@articleData(i*3)">@articleData(i*3+1)</a></h1>
							<p>@articleData(i*3+2)</p>
						</article>
					}
				</div>
				<div id="right_col">
					@for(i <- 1 to articleData.size/3-1 by 2) {
						<article>
							<img id="ajaleht1" src="/getImage/@articleData(i*3)" alt="pilt"><br>
							<a href="/articleeditor/@articleData(i*3)">Muuda uudist</a>
							<a href="/deleteArticle/@articleData(i*3)">Kustuta uudis</a>
							<h1><a href="/articleeditor/@articleData(i*3)">@articleData(i*3+1)</a></h1>
							<p>@articleData(i*3+2)</p>
						</article>
					}
				</div>
			</div>
		</div>
	</body>
</html>