@(form: Form[ApplicationController.Register])
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="MS UUDISED">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")"/>
		<title>Registreerumine</title>    
	</head>
	<body>
		<div id="kast1">
			<div id="kast2">
				<a id="avalehele" href="/new">Avalehele</a>
				<h1>Registreeri</h1>
				@helper.form(routes.ApplicationController.registerForm, 'id -> "sign-up-form") {
					<input type="email" name="email" placeholder="Email" /><br>
					<input type="password" name="password" placeholder="Parool" /><br>
					<input type="text" name="first_name" placeholder="Eesnimi" /><br>
					<input type="text" name="last_name" placeholder="Perekonnanimi" /><br>
					<input type="submit" value="Kinnita">
				}
			</div>
		</div>				
	</body>
</html>